@using ProjectManagementSystem.Service.DTOs.Projects;
@model ProjectCreationDto;

<h1>Create</h1>
﻿
<br />
<div class="container">
    <form asp-controller="Project" asp-action="Create" method="post">
        <div class="row">
            <div class="col mb-4">
                <label asp-for="Name" class="mb-1">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
            <div class="col mb-4">
                <label asp-for="Description" class="mb-1"></label>
                <input asp-for="Description" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-4">
                <label asp-for="StartDate" class="mb-1 font-size:"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
            </div>
            <div class="col mb-4">
                <label asp-for="EndDate" class="mb-1 font-size:"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-4">
                <label asp-for="Status" class="mb-1 font-size:"></label>
                <input asp-for="Status" type="number" class="form-control" />
            </div>
            <div class="col mb-4">
                <label asp-for="teamId" class="mb-1 font-size:">Team Id</label>
                <input asp-for="teamId" type="number" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-danger pe-xxl-4 text-center" asp-action="Index">Back</button>
                <button class="btn btn-primary pe-xxl-4 text-center" asp-action="Create">Save</button>
            </div>
        </div>
    </form>
</div>